include mixins

doctype html
html(ng-app='mainApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='Some have suggested that this game is similar to the card game "Splendor" by Space Cowboys.')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-touch-fullscreen' content='yes')
		title Splendid Gems
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/main.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='MainCtrl')
		.container
			header.hide
				h1 Splendid Gems
			.jumbotron
				h2.text-center Welcome to Splendid Gems!
		script(src='inc/lib.js')
		script(src='inc/main.js')
//		| @@javascriptReplaceFiles
